[project]
	description = A RAID tool for developing client applications
[access "refs/*"]
	owner = group user/JAM (jam69)
[access "refs/for/refs/*"]
	read = group user/JAM (jam69)
	push = group user/JAM (jam69)
	label-Code-Review = -2..+2 group user/JAM (jam69)
	label-Verified = -1..+1 group user/JAM (jam69)
	rebase = group user/JAM (jam69)
	removeReviewer = group user/JAM (jam69)
	submit = group user/JAM (jam69)
[access "refs/heads/*"]
	read = group user/JAM (jam69)
	create = group user/JAM (jam69)
	push = +force group user/JAM (jam69)
	pushMerge = group user/JAM (jam69)
[access "refs/tags/*"]
	push = +force group user/JAM (jam69)
	pushTag = group user/JAM (jam69)
	pushSignedTag = group user/JAM (jam69)
